option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 512M

  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    DB_HOST: resumelaravel.c9fnsggjemhl.ap-south-1.rds.amazonaws.com
    DB_DATABASE: resume_crudbooster
    DB_USERNAME: karthik
    DB_PASSWORD: 12345678
